<table>
    <tr>
    <th>Sr</ht>
    <th> Student Name </th>
    <th> Email ID </th>
    <th> Contact Number </th>
    </tr>
    <hr> 
        <tr>
            <td>User  Name:</td>

            <td><input type="text" name="sname" id="" placeholder="Student name">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="Email" name="sEmail" id="" placeholder="Student Email "></td>
        </tr>
        <tr>
            <td>confirm Email</td>
            <td><input type="Email" name="conf_email" id = "" placeholder="Confirm Email"></td>                
        </tr>
        <tr>
            <td>contact Number</td>
            
            <td><input type ="text" placeholder="Contact number" id = "" name="sContact_num"></td>
        </tr>
        <tr>
            <td rowspan="2"><input type="submit" value="Submit"></td>
        </tr>
    </table>